{% extends "layouts/index.html" %}

{% block title %} Ant Colony Algorithm {% endblock %}

{% block content %}
  <div class="page-title dark-background">
    <div class="container justify-content-between align-items-center">
      <h1 class="mb-2 mb-lg-0">Ant Colony Optimization (ACO)</h1>
      <hr>
      <p></p>
      <a href="/ant-colony-optimization/proses-aco"  class="btn btn-danger d-lg-flex shadow-lg align-items-right">Execute ACO Algorithm</a>
      <hr>
      <nav class="breadcrumbs">
        <ol>
          <li><a href="/">Home</a></li>
          <li class="current">ACO</li>
        </ol>
      </nav>
    </div>
  </div><!-- End Page Title -->
    <br>
    <!-- Portfolio Table -->
    <section id="portfolio-table" class="portfolio-table">
      <div class="container-fluid" data-aos="fade-up" data-aos-delay="400">
        <h3 class="text-center">Dataset ACO</h3>
        <hr>
        <hr>
        <!-- Make the table responsive -->
        <div class="table-responsive">
          <table id="datatable" class="table table-striped table-bordered">
            <thead>
              <tr>
                <th>No</th>
                <th>Name</th>
                <th>Distance X (cm)</th>
                <th>Distance Y (cm)</th>
                <th>Goods Received (kg)</th>
                <th>Estimated Time</th>
                <th>Lead Time</th>
              </tr>
            </thead>
            <tbody>
              {% for row in table_data %}
              <tr>
                <td>{{ loop.index }}</td>  <!-- Menampilkan nomor urut -->
                <td>{{ row.name }}</td>
                <td>{{ row.distance_x_cm }}</td>
                <td>{{ row.distance_y_cm }}</td>
                <td>{{ row.goods_received_kg }}</td>
                <td>{{ row.estimated_time }}</td>
                <td>{{ row.lead_time }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <hr>
      </div>
    </section>

{% endblock %}